//
// Import needed Bootstrap Package Files
//
@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme";

//
// Variables
//
@import "variables";

//
// Extensions
//
@import "news";
@import "klaro";

// Debugger
.extbase-debugger-floating {
    margin-top: 150px;
}

//
// extra frame background colors
//
.frame-background-red {
    background-color: $red;
}
.frame-background-yellow {
    background-color: $yellow;
}
.frame-background-green {
    background-color: $green;
}
.frame-background-blue {
    background-color: $blue;
}
.frame {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.frame-background-primary {
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $white !important;
    }
}
$headline-scaling: () !default;
$headline-scaling: map-merge(
    (
        xs: 1,
        sm: 1,
        md: 1,
        lg: 1,
        xl: 1
    ),
    $headline-scaling
);
//
// Main Navigation
//
.navbar-inverse {
    background-color: $primary !important;
}
.navbar-mainnavigation {
    .navbar-brand-image {
        padding-top: 0;
        padding-bottom: 0;
    }
}
#mainnavigation {
    .language-menu-item {
        img {
            margin-top: 4px;
        }
        &.text-muted {
            img {
                margin-top: 10px;
            }
        }
    }
}

// #mainnavigation > ul:nth-child(2) > li.nav-item.language-menu-item > a > img
//
// Carousel
//
.carousel-item-type-call_to_action .carousel-box {
    background-color: transparentize($white, 15%);
    .carousel-item-header {
        color: $primary;
    }
}

//
// Footer
//
#page-footer {
    .section-row {
        .frame {
            // kein extra Frame im Footer
            .frame {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

//
// Layout
//
.frame {
    &.frame-layout-1 {
        padding: 0;
    }
}


.frame-type-textpic {
    &.frame-layout-1 {
        .textpic-left,
        .textpic-right {
            width: unset;
            .textpic-gallery {
                width: 33%;
            }
            .textpic-text {
                width: 66%;
            }
        }
    }
    &.frame-layout-2 {
        .textpic-left,
        .textpic-right {
            width: unset;
            .textpic-gallery {
                width: 66%;
            }
            .textpic-text {
                width: 33%;
            }
        }
    }
}

//
// Cards
//
.card-deck .card {
    margin-bottom: $card-deck-margin*2;
}
.list-meta {
    margin-bottom: 0.5rem;
}
