//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme";

//
// Extensions
//
@import "waconcookiemanagement";

// Debugger
.extbase-debugger-floating {
    margin-top: 150px;
}

//
// extra frame background colors
//
.frame-background-red {
    background-color: $red;
}
.frame-background-yellow {
    background-color: $yellow;
}
.frame-background-green {
    background-color: $green;
}
.frame-background-blue {
    background-color: $blue;
}
.frame {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
//
// Main Navigation
//
.navbar-inverse {
    background-color: $primary !important;
}
.navbar-mainnavigation {
    .navbar-brand-image {
        padding-top: 0;
        padding-bottom: 0;
    }
 }
#mainnavigation {
    .language-menu-item {
        img {
            margin-top: 4px;
        }
        &.text-muted {
            img {
                margin-top: 10px;
            }
        }
    }

}
// #mainnavigation > ul:nth-child(2) > li.nav-item.language-menu-item > a > img
//
// Carousel
//
.carousel-item-type-call_to_action .carousel-box {
    background-color: transparentize($white, 15%);
    .carousel-item-header {
        color: $primary;
    }
}
//
// Footer
//
#page-footer {
    .section-row {
        .frame {
            // kein extra Frame im Footer
            .frame {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
